.DS_Store
# .env*
.flaskenv
*.pyc
*.pyo
# env/
venv/
# env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv

.github/**
new_user_credentials (4).csv
new_user_credentials (5).csv
aws-auth-patch(old2).yml
examples/